header{

    height: 100px;
  background-color: #0197F6;
}

header h1 {
	padding: 25px 0 0 0px;
  margin: 0;
  color: #F02D3A;
 
  text-align: center;
 
}

main{
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("evening-sky.jpg")
}

main > div > h2 > p 
{
text-align:center;
color:white;

}

nav {

  text-align: center;
  display: block;
  width: 100%;
  color: #fff;

}


img {
  border-radius: 10px;

    border: 1px solid #ddd;

  width: 75px;
  padding: 10px;
  margin: 0 0 0 55px;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img:hover{transform:rotate(10deg)};

div h2{

  text-align: center;
}

li  {
  background-color: #9197AE;
  padding: 5px 10px;
  font-size: 25px;

}

div .hobbies {
  color:#EFF6EE;
  list-style-position: inside;
}

div .movies {
  color:#EFF6EE;
   list-style-position: inside;
}

div .lessons {
  color: #EFF6EE;
  list-style-position: inside;
}




hr {


  width: 15px;
  height: 15px;
  border: none;
  background: #9197AE;
  color: #9197AE;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}

footer {
  height: 120px;
  background-color: #FFB400;
  padding-bottom: 100px;
   padding-top: 20px;
}  
footer > div > p {
  color: white;
  font-size: 12px;
  text-align: center;
  
}

