<<<<<<< HEAD
.bio-title {
    font-size: 45px;
    line-height: 2;
    color:#2a2a2a;
  }
  
  .bio-occupation {
    font-size: 14px;
    line-height: 1.714;
      color:#2a2a2a;
  
  }
  
  .bio-about {
    font-size: 14px;
    line-height: 1.714;
      color:#595959;
  
  }

  .projects-title {
    font-size:22px;
    line-height:1.091;
    color:#2a2a2a;
    margin-bottom:14px;
  }
  
  .projects-link {
    font-size:14px;
    line-height:1.714;
    color:#220fdc;
  }

  .projects-link:hover{
      color:#968fd4;
  }

  .jobs-title {
    color: #2a2a2a;
    font-size: 22px;
    line-height: 1.091;
  
    margin-bottom: 26px;
  }
  
  .jobs-occupation {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
  
    margin-bottom: 16px;
  }
  
  .jobs-time {
    color: #828282;
    font-size: 12px;
    line-height: 2;
  
    margin-bottom: 18px;
  }
  
  .experience-item {
    color: #595959;
    font-size: 14px;
    line-height: 1.714;
    margin-bottom: 10px;
  }

  .experience {
      margin-bottom:28px;
  }
  
  .accent {
    color: #ff6b08;
  }

  .education-title {
    color:#2a2a2a;
    font-size:22px;
    line-height:1.091;
    margin-bottom:26px;
  
  }
  
  .education-degree {
  color:#2a2a2a;
    font-size:16px;
  line-height:1.5;
  margin-bottom:16px;
  }
  
  .education-time {
  color:#828282;
  font-size:12px;
  line-height:2;
  margin-bottom:18px;
  }
  
  .accent {
  color:#ff6b08;
  }

  .bio,
.projects,
.jobs,
.education {
  margin-bottom:60px;
}

.right-side {
    padding-top:68px;
    padding-right:200px;
    padding-bottom:68px;
    padding-left:80px;
  }
=======
header{

    height: 100px;
  background-color: #0197F6;
}

header h1 {
	padding: 25px 0 0 0px;
  margin: 0;
  color: #F02D3A;
 
  text-align: center;
 
}

main{
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: url("evening-sky.jpg")
}

main > div > h2 > p 
{
text-align:center;
color:white;

}

nav {

  text-align: center;
  display: block;
  width: 100%;
  color: #fff;

}


img {
  border-radius: 10px;

    border: 1px solid #ddd;

  width: 75px;
  padding: 10px;
  margin: 0 0 0 55px;
  
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
img:hover{transform:rotate(10deg)};

div h2{

  text-align: center;
}

li  {
  background-color: #9197AE;
  padding: 5px 10px;
  font-size: 25px;

}

div .hobbies {
  color:#EFF6EE;
  list-style-position: inside;
}

div .movies {
  color:#EFF6EE;
   list-style-position: inside;
}

div .lessons {
  color: #EFF6EE;
  list-style-position: inside;
}




hr {


  width: 15px;
  height: 15px;
  border: none;
  background: #9197AE;
  color: #9197AE;
  margin-top: 30px;
  margin-bottom: 20px;
  transform: rotate(45deg);
}

footer {
  height: 120px;
  background-color: #FFB400;
  padding-bottom: 100px;
   padding-top: 20px;
}  
footer > div > p {
  color: white;
  font-size: 12px;
  text-align: center;
  
}

>>>>>>> 0aaa109639d74a45bac412025eb2b87f756c7f99
