.bio-title {
    font-size: 45px;
    line-height: 2;
    color:#2a2a2a;
  }
  
  .bio-occupation {
    font-size: 14px;
    line-height: 1.714;
      color:#2a2a2a;
  
  }
  
  .bio-about {
    font-size: 14px;
    line-height: 1.714;
      color:#595959;
  
  }

  .projects-title {
    font-size:22px;
    line-height:1.091;
    color:#2a2a2a;
    margin-bottom:14px;
  }
  
  .projects-link {
    font-size:14px;
    line-height:1.714;
    color:#220fdc;
  }

  .projects-link:hover{
      color:#968fd4;
  }

  .jobs-title {
    color: #2a2a2a;
    font-size: 22px;
    line-height: 1.091;
  
    margin-bottom: 26px;
  }
  
  .jobs-occupation {
    color: #2a2a2a;
    font-size: 16px;
    line-height: 1.5;
  
    margin-bottom: 16px;
  }
  
  .jobs-time {
    color: #828282;
    font-size: 12px;
    line-height: 2;
  
    margin-bottom: 18px;
  }
  
  .experience-item {
    color: #595959;
    font-size: 14px;
    line-height: 1.714;
    margin-bottom: 10px;
  }

  .experience {
      margin-bottom:28px;
  }
  
  .accent {
    color: #ff6b08;
  }

  .education-title {
    color:#2a2a2a;
    font-size:22px;
    line-height:1.091;
    margin-bottom:26px;
  
  }
  
  .education-degree {
  color:#2a2a2a;
    font-size:16px;
  line-height:1.5;
  margin-bottom:16px;
  }
  
  .education-time {
  color:#828282;
  font-size:12px;
  line-height:2;
  margin-bottom:18px;
  }
  
  .accent {
  color:#ff6b08;
  }

  .bio,
.projects,
.jobs,
.education {
  margin-bottom:60px;
}

.right-side {
    padding-top:68px;
    padding-right:200px;
    padding-bottom:68px;
    padding-left:80px;
  }